.blogPostContainer {
  width: 70%;
}

.blogHeader {
  text-align: center;
}

.blogCategory {
  display: block;
  font-size: 14px;
  padding: 10px 0;
}

.postTitle {
  letter-spacing: 0.5px;
  transform: capitalize;
  font-size: 30px;
  margin: 0;
}

.postedBy {
  font-size: 15px;
  font-style: italic;
  padding: 10px;
  display: block;
  color: lightblue;
}

.postImageContainer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.postImageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.postContent {
  margin: 10px;
}

.postContent h3 {
  font-weight: 400;
  color: gray;
}

.postContent p {
  font-size: 12px;
  color: darkgray;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
